In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Coding/dbt_project/yellow_taxi/seeds/zipcodes.csv')

In [4]:
df.head(5)

,country_code,zipcode,place,state,state_code,province,province_code,community,community_code,latitude,longitude
0,US,99553,Akutan,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.1430,-165.7854
1,US,99571,Cold Bay,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.1858,-162.7211
2,US,99583,False Pass,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.8542,-163.4113
3,US,99612,King Cove,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.0628,-162.3056
4,US,99661,Sand Point,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.3192,-160.4914

In [6]:
import duckdb as db
query =  "select country_code,zipcode,place,state,state_code,province,province_code, latitude, longitude  from ( select *, ROW_NUMBER() over(partition by province_code order by zipcode) as rn from df ) as tb where state = 'New York' and rn = 1"

tt = db.sql(query)

In [7]:
tt

┌──────────────┬─────────┬────────────────┬──────────┬────────────┬─────────────┬───────────────┬──────────┬───────────┐
│ country_code │ zipcode │     place      │  state   │ state_code │  province   │ province_code │ latitude │ longitude │
│   varchar    │  int64  │    varchar     │ varchar  │  varchar   │   varchar   │    double     │  double  │  double   │
├──────────────┼─────────┼────────────────┼──────────┼────────────┼─────────────┼───────────────┼──────────┼───────────┤
│ US           │   14805 │ Alpine         │ New York │ NY         │ Schuyler    │          97.0 │   42.351 │  -76.7348 │
│ US           │   12019 │ Ballston Lake  │ New York │ NY         │ Saratoga    │          91.0 │  42.9192 │  -73.8552 │
│ US           │   13054 │ Durhamville    │ New York │ NY         │ Oneida      │          65.0 │  43.1579 │  -75.6714 │
│ US           │   14415 │ Bellona        │ New York │ NY         │ Yates       │         123.0 │  42.7554 │  -77.0217 │
│ US           │   13324 │ Cold Brook     │ New York │ NY         │ Herkimer    │          43.0 │  43.3024 │  -74.9977 │
│ US           │   14529 │ Perkinsville   │ New York │ NY         │ Steuben     │         101.0 │  42.5398 │  -77.6283 │
│ US           │   12064 │ East Worcester │ New York │ NY         │ Otsego      │          77.0 │  42.6321 │  -74.6674 │
│ US           │   10501 │ Amawalk        │ New York │ NY         │ Westchester │         119.0 │  41.2946 │  -73.7611 │
│ US           │   11001 │ Floral Park    │ New York │ NY         │ Nassau      │          59.0 │  40.7236 │  -73.7058 │
│ US           │   10910 │ Arden          │ New York │ NY         │ Orange      │          71.0 │  41.2745 │  -74.1529 │
│ ·            │     ·   │   ·            │    ·     │ ·          │   ·         │            ·  │     ·    │      ·    │
│ ·            │     ·   │   ·            │    ·     │ ·          │   ·         │            ·  │     ·    │      ·    │
│ ·            │     ·   │   ·            │    ·     │ ·          │   ·         │            ·  │     ·    │      ·    │
│ US           │   12057 │ Eagle Bridge   │ New York │ NY         │ Washington  │         115.0 │  42.9808 │  -73.3522 │
│ US           │   10001 │ New York       │ New York │ NY         │ New York    │          61.0 │  40.7484 │  -73.9967 │
│ US           │   14098 │ Lyndonville    │ New York │ NY         │ Orleans     │          73.0 │  43.3233 │  -78.3811 │
│ US           │   14410 │ Adams Basin    │ New York │ NY         │ Monroe      │          55.0 │  43.1953 │  -77.8559 │
│ US           │   12031 │ Carlisle       │ New York │ NY         │ Schoharie   │          95.0 │  42.7648 │  -74.4569 │
│ US           │   12701 │ Monticello     │ New York │ NY         │ Sullivan    │         105.0 │  41.6516 │  -74.7007 │
│ US           │   13143 │ Red Creek      │ New York │ NY         │ Wayne       │         117.0 │  43.2291 │  -76.7146 │
│ US           │   11004 │ Glen Oaks      │ New York │ NY         │ Queens      │          81.0 │  40.7481 │  -73.7114 │
│ US           │   10901 │ Suffern        │ New York │ NY         │ Rockland    │          87.0 │  41.1177 │  -74.1241 │
│ US           │     501 │ Holtsville     │ New York │ NY         │ Suffolk     │         103.0 │  40.8154 │  -73.0451 │
├──────────────┴─────────┴────────────────┴──────────┴────────────┴─────────────┴───────────────┴──────────┴───────────┤
│ 41 rows (20 shown)                                                                                         9 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [14]:
query1 = "select count(province_code) as mycount from tt group by province_code having count(province_code) > 1"
db.sql(query1)

┌─────────┐
│ mycount │
│  int64  │
├─────────┤
│ 0 rows  │
└─────────┘